
<div class='container-fluid center d-flex align-items-center justify-content-center'>
    <div class='vw-100'>
        <h1>Cadastro</h1>
        <br>
        <input placeholder='Nome'>
        <br><br>
        <input placeholder='Senha'>
        <br><br>
        <input placeholder='E-mail'>
        <br><br>

        <div class="btn-group w-50">
            <button routerLink='/login' class='btn btn-secondary w-50'>Ir para login</button>  
            <button class='btn btn-secondary w-50'>Cadastrar</button>
        </div>

    </div>
</div>