

<div class='container-fluid center d-flex align-items-center justify-content-center'>
    <div class='vw-100'>
        <h1>Login</h1>
        <br>
        <input placeholder='Nome'>
        <br><br>
        <input placeholder='Senha' type='password'>
        <br><br>
    
        <div class="btn-group w-50">
            <button routerLink='/cadastro' class='btn btn-secondary w-50'>Cadastre-se</button>
            <button routerLink='/lista' class='btn btn-secondary w-50'>Entrar</button>
        </div>
    
    </div>
</div>
