
<div class='vw-100'>
   <div class='row borda top'>
        <div class='col-4 borda'>
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="../../assets/d1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Banguela</h5>
                <div class="btn-group w-100" role="group" aria-label="Basic example">
                    <button (click)='info()' type="button" class="btn btn-info">Info</button>
                    <button (click)='edit()' type="button" class="btn btn-success">Editar</button>
                    <button (click)='onDelete()' type="button" class="btn btn-danger">Delete</button>
                  </div>
              </div>
            </div>
        </div>
        <div class='col-4 borda'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/d2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Banguela</h5>
                  <div class="btn-group w-100" role="group" aria-label="Basic example">
                      <button (click)='info()' type="button" class="btn btn-info">Info</button>
                      <button (click)='edit()' type="button" class="btn btn-success">Editar</button>
                      <button (click)='onDelete()' type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
              </div>
        </div>
        <div class='col-4 borda'>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/d3.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Banguela</h5>
                  <div class="btn-group w-100" role="group" aria-label="Basic example">
                      <button (click)='info()' type="button" class="btn btn-info">Info</button>
                      <button (click)='edit()' type="button" class="btn btn-success">Editar</button>
                      <button (click)='onDelete()' type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
              </div>
        </div>
   </div>


   <div class='row borda'>
    <div class='col-4 borda'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/d4.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Banguela</h5>
              <div class="btn-group w-100" role="group" aria-label="Basic example">
                  <button (click)='info()' type="button" class="btn btn-info">Info</button>
                  <button (click)='edit()' type="button" class="btn btn-success">Editar</button>
                  <button (click)='onDelete()' type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
          </div>
    </div>
    <div class='col-4 borda'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/d5.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Banguela</h5>
              <div class="btn-group w-100" role="group" aria-label="Basic example">
                  <button (click)='info()' type="button" class="btn btn-info">Info</button>
                  <button (click)='edit()' type="button" class="btn btn-success">Editar</button>
                  <button (click)='onDelete()' type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
          </div>
    </div>
    <div class='col-4 borda'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/d6.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Banguela</h5>
              <div class="btn-group w-100" role="group" aria-label="Basic example">
                  <button (click)='info()' type="button" class="btn btn-info">Info</button>
                  <button (click)='edit()' type="button" class="btn btn-success">Editar</button>
                  <button (click)='onDelete()' type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
          </div>
    </div>
</div>