.vw-100{
    text-align: left;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 50px;
}

.borda{
    display: flex;
    justify-content: center;
}
.card-body{
    background-color: rgba(39, 39, 39, 0.774);

}
.top{
    margin-top: 50px;
}
.card-img-top{
    min-height: 200px;
    max-height: 200px;
}
.card{
    border: none;
    
}