body{
    background-color: #323232;
}
.center{
    text-align: center;
}
input{
    background-color: rgba(0, 0, 0, 0.365);
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    padding-left: 10px;
    color: gray;
}
.container-fluid{
    display: flex;
    height: 80vh;
    align-items: center;
}
.vw-100{
    width: 100vw;
}